@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-solid:#FF3333;
    --primary-900:rgba(255, 51, 51, 0.9);
    --primary-500:rgba(255, 51, 51, 0.5);
    --primary-300:rgba(255, 51, 51, 0.3);

    --Secondary-solid:#1D84B5;
    --Secondary-900:rgba(29, 132, 181, 0.9);
    --Secondary-500:rgba(29, 132, 181, 0.5) ;
    --Secondary-300:rgba(29, 132, 181, 0.3); 

    --Dark-solid:#1F1F1F;
    --Dark-900:rgba(31, 31, 31, 0.9);
    --Dark-500:rgba(31, 31, 31, 0.5);
    --Dark-300: rgba(31, 31, 31, 0.3);
    
    --dark-bg-solid:#30343F;
    --light-bg-solid:#FAFAFF;
    --light-font-solid: #FFFFFF; 
    /*typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

/*font size*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* spacing*/
    --spacing-128: 12.8rem;
    --spacing-68:  6.8rem ;  
    --spacing-36: 3.6rem ;
    --spacing-28: 2.8rem ;
    --spacing-24: 2.4rem ;
    --spacing-20: 2rem ;
    --spacing-16: 1.6 rem;
    --spacing-12: 1.2 rem;
    --spacing-8: 0.8 rem;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--Dark-solid);
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background: #30343F;
    
}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}
img{
    max-width: 100%;
  
}



.container
 {max-width: 1200px;
    ; margin: 0 auto;
}
    .with-icon{
        display: flex;
        align-items: center;  

    }
    
    

/*header*/
header{
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-36);
}
.navbar__logo{
max-width: 300px;
}
.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}
.navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16); 
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}
.navbar__link:hover{
    background-color: var(--primary-900);

}
.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8); /
}

.width-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
    width: 300px;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}
/*--hero--*/

.hero{
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
background-size: cover;
background-attachment: fixed;
position: relative;
background-position: top;
}
.hero::before{
    content: '';
    background-color: rgba(0, 0, 0, 0, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter:  blur(2px) brightness(.9);
}
.hero__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}
.hero__title{
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}
.hero__text{
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
}
.hero__link{
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition:all .3s ease-in-out;
}
.hero__link:hover{
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/*collection*/
.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

/* slider */
.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

.card-item__cover {
    display: flex;
    position: relative;
}
.card-item__tag{
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8)var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-item__cover img {
    animation: fade .7s;
}

.card-item__link--back {
    display: none;
}

.card-item__cover:hover .card-item__link--back {
    display: block;
}

.card-item__cover:hover .card-item__link--front {
    display: none;
}

.slider__items {
    display: flex;
    gap: var(--spacing-24);
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__license {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--Secondary-solid);
    font-weight: 700;
}

/*footer*/

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    order: 1; 
}

.footer__copy {
    text-align: center;
    flex-grow: 1; 
margin-top: auto;   
}
/*register*/
.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  
  }
  
  .custom-titulo {
    font-size: 1.8em;
    font-weight: 700;
    font-family: 'raleway', sans-serif;
    padding: var(--spacing-20) var(--spacing-28);
    margin-bottom: 5px; 
  }
  
  .custom-subtitulo {
    font-size: 1.8em;
    font-weight: 500;
    font-family: 'raleway', sans-serif;
    margin-bottom: 15px;
  }
  
  .custom-input {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
    color: rgba(185, 185, 185, 1);
    text-align: left;
    min-width: 150px; 
    white-space: nowrap;
    justify-content: left;
    border:none; border-bottom:  2px solid red; 
    margin-top: 15px;
    vertical-align:middle;
    vertical-align:bottom;
    
  }
  .custom-label {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
    text-align: left; 
    vertical-align:middle;
    vertical-align:bottom;
    width: 250px; 
    white-space: nowrap;
  }
  .custom-button{
    display: inline-block;
    color:  rgba(255, 255, 255, 1);
     background-color: red; 
     font-size: 12px;
     font-family: 'inter', sans-serif;
     font-weight:400;
      border: none; padding: 10px; 
      cursor: pointer; 
      width:103px;
      padding-bottom: 10px;
      text-align:center;
    margin-right: 10px;
    margin-top: 20px;
   
  }

  .checkbox-container {
    display:inline;
     width: auto;
       font-family: Inter; font-size: 18px; 
    font-weight: 400;
      text-align: right;
      white-space: nowrap;
     margin-top:10px;
     }
     .Terminos 
     {  color:  #1D84B5; }



    /* shop */
.shop-container {
    font-family: 'Inter', sans-serif;
    color: rgba(48, 52, 63, 1);
    font-size: 24px;
    font-weight: 500;
    float: left;
}


.shop-container input[type="text"] {
    font-family: 'Inter', sans-serif;
    color: rgba(185, 185, 185, 1);
    font-size: 20px;
    font-weight: 500;
    width: 100%; 
    margin: 0; 
    padding: 5px; 
    box-sizing: border-box; 
  }


.shop-container label {
    font-family: 'Inter', sans-serif;
    color: rgba(17, 17, 17, 1);
    font-size: 16px;
    font-weight: 500;
}
.shop-container input[type="text"]#min,
.shop-container input[type="text"]#max {
   width:59.14px; 
   height: 27.52px; 
   border-radius: 0px;
   border: 2px solid rgba(48, 52, 63, 1);
   box-sizing: border-box; 
}


#min::placeholder, #max::placeholder {
    width: 13px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center; 
    color: rgba(185, 185, 185, 1);
}

  aside {
    width: 221.04px; 
    height: 471.93px; 
    margin: 10px;
   /** border: 1px solid black;**/
    border-radius: 6px;
    float: left;
    background-color: white;
  }
  
  
    .shop-products {
        display: grid;
        width: 960.03px; 
        height: 1608px; 
       /** grid-template-rows: repeat(3, 512px);**/
         grid-template-columns: repeat(3, 320.01px); /* Creamos tres columnas de 320.01px cada una */
        grid-template-rows: repeat(3, 1fr); 
        gap:10px; 
        margin-bottom: 50px; 
        align-items: center;
        top: 212px;
        left: 368px; 
        gap: 24px; 
        grid-row-gap: 10px;

    }
     
      
      /* El resto del código CSS va aquí */
      
    .shop-parrafo {
        font-family: 'Inter', sans-serif; 
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .shop-h4 {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .shop-prix {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .shop-cuotas {
        font-family: 'Inter', sans-serif; 
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(29, 132, 181, 1);
    }
    
    .shop-products .product-wrapper {
        position: relative;
        box-sizing: border-box; 
        border-radius: 12px; 
        margin-bottom: 0px;
        width: 100%;
    }
    
    .shop-products .product-wrapper .product-badge {
        content:"";
        position: absolute;
        top: 10%;
        left: 80%;
        width: 20%;
        height: 1.2em;
        background-color: rgba(255, 51, 51, 1);
        color: rgba(255, 255, 255, 1); 
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        border-radius: 6px; 
        text-align: center;
    
    }
  
      
    
    .pagination {
        margin: 0 auto;
        text-align: center;
        width: 356px;
        height: 44px;
        top: 1888px;
        left: 670.33px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: var(--spacing-28)var(--spacing-28);
    
    }

.arrow,
.number-box {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(223, 227, 232, 1);
}

.left-arrow {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgba(145, 158, 171, 1);
}

.number-box {
    background: #fff;
    color: rgba(33, 43, 54, 1); 
}

.right-arrow {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: rgba(145, 158, 171, 1);
}

.dots {
    font-size: 18px;
}

.number-box:first-child {
    background: linear-gradient(0deg, #FF3333, #FF3333), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: #fff;
}


/*ITEM*/ 
/*primera seccion*/

.primera-seccion {
    width: 1191.84px;
    height: 550px;
    top: 212px;
    left: 111.75px;
   
}

.primera-seccion article {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: space-between; /* Coloca espacio entre la imagen y el contenido */
    height: 100%; /* Hace que el artículo ocupe toda la altura del contenedor */
}

.primera-seccion .contenido {
    width: 576.84px;
   /* height: 320.73px;*/
    position: relative; 

}
   .primera-seccion .titulo1 {
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: rgba(51, 51, 51, 1);


   }
   .primera-seccion .titulo2{
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(51, 51, 51, 1);
   }
    
.primera-seccion .figura{
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: rgba(51, 51, 51, 1);

}
.primera-seccion .figura{
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: rgba(51, 51, 51, 1);

}
.primera-seccion .precio{
    font-family: Inter;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 51, 51, 1);

}
.accion-pago{
    font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: rgba(29, 132, 181, 1);
width: 333.2px;
height: 17px;
top: 630.37px;
left: 726.75px;
display: block;
}
.cantidad-placeholder{
   color: rgba(116, 116, 116, 1);
   width: 13.16px;
   height: 19.45px;
   top: 573.85px;
   left: 772.9px;
border: 0.5px solid rgba(201, 201, 201, 1);
width: 105.47px;
height: 35.24px;
top: 565.95px;
left: 726.75px;
text-align: center;
vertical-align: top;
display: inline-block; /* Para que estén en la misma línea */

}
.boton-mas,
.boton-menos {
    width: 18px;
    height: 18px;
    background: rgba(79, 79, 79, 1);
    color: #fff;
    cursor: pointer;
    display: block;
}


.accion-carrito{
    width: 181px;
    height: 37.91px;
    top: 565.57px;
    left: 888.33px;
    background: rgba(255, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
cursor: pointer;
display: inline-flex; 
}

.primera-seccion article {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: space-between; /* Coloca espacio entre la imagen y el contenido */
    height: 100%; /* Hace que el artículo ocupe toda la altura del contenedor */
}
.boton-mas,
.boton-menos {
    display: block; /* Asegúrate de que Mas y Menos estén en bloque */
}

/*segunda seccion */

.segunda-seccion{
    width: 1218.25px;
height: 623px;
top: 830px;
left: 110px;
display: flex;
}
.article1{
    width: 358.57px;
height: 512px;
top: 941px;
left: 110px;

}
.img1{
    width: 358.57px;
    height: 352px;
    top: 941px;
    left: 110px;
    
}
.img2{
    width: 358.57px;
    height: 352px;
    top: 941px;
    left: 539.84px;
    
}
.img3{
    width: 358.57px;
    height: 352px;
    top: 941px;
    left: 969.68px;
    
}
.titulo-h2{
    width: 715.07px;
height: 54px;
top: 830px;
left: 110px;
font-family: Raleway;
font-size: 46px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
color: rgba(17, 17, 17, 1);




}
 .article1.titulo1{
    width: 82.51px;
    height: 17px;
    top: 1321px;
    left: 124.26px;
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: rgba(51, 51, 51, 1);
}
.article1 .titulo2{
    width: 276.06px;
    height: 22px;
    top: 1351px;
    left: 124.26px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
   color: rgba(17, 17, 17, 1);

}
.article1.precio{
    width: 88.62px;
    height: 19px;
    top: 1386px;
    left: 124.26px;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: rgba(51, 51, 51, 1);

    
}
.article1.cuotas{
    width: 140.58px;
    height: 15px;
    top: 1419px;
    left: 124.26px;
    font-family: Inter;
font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: rgba(29, 132, 181, 1);

}
.article2.titulo1{
    width: 73.34px;
    height: 17px;
    top: 1321px;
    left: 554.1px;
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: rgba(51, 51, 51, 1);

}
.article2.titulo2{
    width: 107.98px;
    height: 22px;
    top: 1351px;
    left: 554.1px;
    font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
background: rgba(17, 17, 17, 1);

    
}
.article2.precio{
    width: 88.62px;
    height: 19px;
    top: 1386px;
    left: 554.1px;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
background: rgba(51, 51, 51, 1);



}
.article2.cuotas{
    width: 140.58px;
    height: 15px;
    top: 1419px;
    left: 554.1px;
    font-family: Inter;
font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: rgba(29, 132, 181, 1);

}
.article3.titulo1{
    width: 109px;
    height: 17px;
    top: 1321px;
    left: 983.95px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    
color: rgba(51, 51, 51, 1);

    
}
.article3.titulo2{
    width: 266.89px;
    height: 22px;
    top: 1351px;
    left: 983.95px;
    font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: rgba(17, 17, 17, 1);

}
.article3.precio{
    width: 88.62px;
    height: 19px;
    top: 1386px;
    left: 983.95px;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: rgba(51, 51, 51, 1);

}
.article3.cuotas{
    width: 140.58px;
    height: 15px;
    top: 1419px;
    left: 983.95px;
    font-family: Inter;
font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: rgba(29, 132, 181, 1);

    
}
.article2{
    width: 358.57px;
height: 512px;
top: 941px;
left: 539.84px;

}
.article3{
    width: 358.57px;
height: 512px;
top: 941px;
left: 969.68px;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: left;


}



/*animation va al final del codigo*/ 
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
