<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart | Funkoshop </title>
    <link rel="stylesheet" href="./Css/index.css">

</head>

<body>
    <header> <!-- Inicio del header -->
        <nav>
            <picture>
                <a href="./index.html"></a>
                <img src=./img/branding/logo_light_horizontal.svg alt="Isologotipo de la marca Funkoshop">
            </picture>
            <ul>
                <li><a href="./pages/shop.html">SHOP</a></li>
                <li><a href="./pages/contact.html">CONTACTO</a></li>
                <li><a href="./pages/login.html">LOGIN</a></li>
                <li><a href="./pages/cart.html"></a>
                    <img src="./img/icons/cart-icon.svg" alt="Icono de carrito">
                </li>
            </ul>

        </nav>

    </header> <!-- fin del header  -->
    <main>
        <h1>
            Carrito de compras 

        </h1>
        <p>
           Detalle de Producto                                Cantidad                                    Total 
        </p>




    </main>
    <footer>
        <section>
            <nav>
                <ul>
                    <li><a href="">SHOP</a></li>
                    <li><a href="">REGISTRARSE</a></li>
                    <li><a href="">LOGIN</a></li>
                    <li><a href="">CONTACTO</a></li>
                </ul>

            </nav>
            <picture>
                <img src="./img/branding/isotype.svg" alt="Isologotipo de la marca funkoshop">

            </picture>

        </section>
        <p>ALL rights reserved 2023 - Funkoshop &copy;</p>
    </footer>


</body>

</html>