<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Css/index.css">
</head>
<body>
    <header> <!-- Inicio del header -->
        <nav >
            <picture>
                <a href="./index.html"></a>
                <img src=./img/branding/logo_light_horizontal.svg alt="Isologotipo de la marca Funkoshop">
            </picture>
            <ul>
                <li><a href="./shop.html">VER TIENDA</a></li>
                <li><a href="./admin.html">ADMIN</a></li>
                <li><a href="./index.html">SALIR</a></li>
                >
                </li>
            </ul>

        </nav>

    </header> <!-- fin del header  -->

     <main class="main_login">
        <h1 class="top_bar">INGRESAR A MI CUENTA</h1>
        <form action="" method="post" enctype="application/x-www-form-urlencoded">
            <div class="div_login1">
            <label id="email_login" for="email">Email:       </label>
            <input   id="email"  class="login_contraseña_email" type="email" name="Algo" id="email" required> 
            </div>
            <div class="div_login2">
                <label for="contraseña">Contraseña:</label>
                <input class="login_contraseña_email" type="password"name="contraseña" id="Contraseña">
                
            </div>
    
            <div>
             <button class="ingresar" type="submit">Ingresar</button>
              <input class="recordarme" type="checkbox">  Recordarme
    
             </div>
             <div>
                <a class="olvide_contrasenya" href="">Olvidé mi contraseña</a>
             </div>
            
        </form>


     </main>
    <footer>
        <section>
            <nav>
                <ul>
                    <li><a href="">SHOP</a></li>
                    <li><a href="">REGISTRARSE</a></li>
                    <li><a href="">LOGIN</a></li>
                    <li><a href="">CONTACTO</a></li>
                </ul>
    
            </nav>
            <picture>
                <img src="./img/branding/isotype.svg" alt="Isologotipo de la marca funkoshop">
    
            </picture>
    
        </section>
            <p>ALL rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    

    
</body>
</html>