<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Css/index.css">
    <link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">
    <title>LOGIN</title>


    
</head>
<body>
    <header>
        <nav class="navbar">
            <picture class="navbar__logo">
                <a href="./index.html">
                    <img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkshop">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item width-submenu">
                    <a class="navbar__link width-icon" href="./shop.html">VER TIENDA</a>
                   
                </li>
                <li>
                    <a class="navbar__link" href="./admin.html">ADMIN</a>
                </li>
                <li>
                    <a class="navbar__link" href="./logout.html">SALIR</a>
                </li>
            </ul>
        </nav>
    </header>

     <main class="container">
        <div class="loginFormulario">
        <h1>INGRESAR A MI CUENTA</h1>
        <div class="login-container">
        <div class="login--principal">
        <form action="" method="post" id="formulario2" enctype="application/x-www-form-urlencoded">

            <div>
                <div class="loginEmail">
            <label class="login--email-texto" for="email">Email:</label>
            <input class="placeholder-valor1"  type="email" name="Algo" id="email" required placeholder="johndoe@correo.com"> 
        
            </div>
            <div class="login-contraseña">
                <label class="login--contraseña-texto" for="contraseña">Contraseña:</label>
                <input class="placeholder-valor2"  type="password"name="contraseña" id="Contraseña" placeholder="********************">
            </div>
            </div>
        </div>

            <div class="login-bottom">
               
             <button class="login-ingresar" type="submit">Ingresar</button>
            
            <div class="login-box">
              <input  type="checkbox">
             <p class="loginText"> Recordarme </p> 
            </div>
        </div>
          <div class="enlaceLogin">
             <p>Olvidé mi contraseña</p>
            </div>
            
        </form>
    
</div>
</div>
     </main>

   <!--aca empieza el footer-->
 <footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item"><a class="navbar__link" href="./shop.html">SHOP</a></li>
            <li class="navbar__item"><a class="navbar__link" href="./register.html">REGISTRARSE</a></li>
            <li class="navbar__item"><a class="navbar__link" href="./login.html">LOGIN</a></li>
            <li class="navbar__item"><a class="navbar__link" href="./contacto.html">CONTACTO</a></li>
        </ul>
    </nav>
    <picture class="picture">
        <img src="/img/branding/isotype.svg" alt="Isologotipo de la marca funkoshop">
    </picture>
    
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer>

   <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<script src="Css/js/login.js"></script>
</body>
</html>