@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.cs');
:root {
    --primary-solid:#FF3333;
    --primary-900:rgba(255, 51, 51, 0.9);
    --primary-500:rgba(255, 51, 51, 0.5);
    --primary-300:rgba(255, 51, 51, 0.3);

    --Secondary-solid:#1D84B5;
    --Secondary-900:rgba(29, 132, 181, 0.9);
    --Secondary-500:rgba(29, 132, 181, 0.5) ;
    --Secondary-300:rgba(29, 132, 181, 0.3); 

    --Dark-solid:#1F1F1F;
    --Dark-900:rgba(31, 31, 31, 0.9);
    --Dark-500:rgba(31, 31, 31, 0.5);
    --Dark-300: rgba(31, 31, 31, 0.3);
    
    --dark-bg-solid:#30343F;
    --light-bg-solid:#FAFAFF;
    --light-font-solid: #FFFFFF; 
    /*typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

/*font size*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 
    --font-xsmall: 1.4em;

    /* spacing*/
    --spacing-128: 12.8rem;
    --spacing-68:  6.8rem ;  
    --spacing-36: 3.6rem ;
    --spacing-28: 2.8rem ;
    --spacing-24: 2.4rem ;
    --spacing-20: 2rem ;
    --spacing-16: 1.6 rem;
    --spacing-12: 1.2 rem;
    --spacing-8: 0.8 rem;
  
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: 2em;
}

ul, ol{
    list-style-type: none;

}
html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--Dark-solid);
}
html {
    max-width: 1440px; 
  }
  
  body {
    width: 100%; 
    margin: 0; 
  }
  
  header, footer {
    width: 100%; 
    max-width: 1440px; 
    margin: 0 auto; 
  }
  
header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background: #30343F;
}

p {
    font-size: 1.8em;
}
img{
    max-width: 100%;
  
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}




    .with-icon{
        display: flex;
        align-items: center;  

    }
    
   * h1 {
        display: block;
        font-size: 3em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        font-weight: bold;
    }
    label {
        font-family: var(--base-font);
        font-size: 1.5em;
        font-weight: bold;
        text-align: right;
        
    }
/*header*/

header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-36);
}

.navbarContainer {
    display: flex;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
   gap: var(--spacing-28);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-900);
}


.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.width-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
    width: 300px;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}

/* Estilos para el héroe */
.hero {
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: top;
    z-index: 1;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px) brightness(0.9);
    top: 0;
    left: 0;
    z-index: 2;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
    width: 20%;
    text-align: center;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/*collection*/
.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__text {
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}
/*ITEM*/
/* slider */
button#substract {
    width: 1.5em;
}
h3.item--name {
    font-size: 2em;
}
article.item--info {
    display: inline-block;
    width: 57.684rem;
}
.item--submit{
    background-color:var(--primary-solid);
    color: var(--light-bg-solid);
    cursor:pointer;
font-weight: 400;
border:1px solid transparent;
font-size: 1.8em;
 }
 p.item--description {
    width: 60%;
}
.cartItem {
display: flex;
align-items: center;
justify-content: space-between;
}
 .item--info h2{
    font-weight: 700;
 }
 .item--input{
   width:10%;
   flex-shrink: 0;
   text-align: center;
 }
 .item-cart {
    display: flex;
    gap: 10px;
    padding:10px;
}
.item--quantity{
    background-color:var(--Dark-solid);
    color:var(--light-bg-solid);
    cursor:pointer;
    width: 1.5em;
}
.item-promo{
    color: var(--Secondary-solid);
    font-size: 1em;

}
.itemInfo{
align-self: center;}
.glide__arrows {
    display: flex;
    justify-content: space-between;
}
.glide__arrow--left,
.glide__arrow--right {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    border:1px solid transparent;
    background: #FAFAFF;
}


.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    overflow: hidden;
    position: relative;
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}
.slider__items {
    display: flex;
    gap: var(--spacing-24);
    padding:8%;
}
iconify-icon{
    color:var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}
 .glide__arrow--right{
    right:0;
     }
.card-item__cover {
    display: flex;
    position: relative;
}
picture.item--img.card-item__cover {
    width: 300px;
    display: flex;
    width: 55rem;
}

.card-item__tag{
    font-size:1.5em;
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    position: absolute;
    right: 0;
    padding:var(--spacing-16);

}
.card-item__cover img {
    animation: fade .7s;
}
.card-item__link--back {
    display: none;
}
.card-item__cover:hover .card-item__link--back {
    display: block;
}
.card-item__cover:hover .card-item__link--front {
    display: none;
}
.card-item__img img{
        animation: fade 0.7s;
    }
.card-item__img--back {
    display: none;
  }
  .card-item__cover:hover .card-item__img--back {
    display: block;
  }
  .card-item__cover:hover .card-item__img--front {
    display: none;
  }
.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}


.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__promo {
    color: var(--Secondary-solid);
}

/*footer*/ 
.footer { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;  
}
  
.pictureFooter{
    order: 1;
  margin-right: 6%;
  overflow: hidden;
}
.footer__copy {
    text-align: center;
  flex-grow: 1;

}
/*register*/    

.custom-label {
    display: inline-block;
}
.form-field {
    padding: var(--spacing-24);
}
button.custom-button {
    background-color: var(--primary-solid);
    color:var(--light-font-solid);
    padding: var(--spacing-20);
    font-size: 2em;
    margin-right: 5%;
}
a.Terminos {
    font-size: 1em;
    color: var(--Secondary-solid);
}
p.textoRegister {
    padding:var(--spacing-20)
}
.contenidoRegister {
    padding: var(--spacing-24);
}
.contenidoRegister input.nombre,
 .contenidoRegister input.apellidoRegister, 
 .contenidoRegister input.emailRegister, .contenidoRegister input.contraseñaRegister, 
 .contenidoRegister input.repeatRegister {
   border: 2px solid transparent;
    border-bottom-color: var(--primary-solid);
      
}

.contenidoRegister label {
  display: inline-block;
}
  /* shop */

.shop-container {
    color:var(--Dark-solid);
    font-weight: 500;
    float: left;
}

.shop-container label {
    color: var(--Dark-solid);
    font-size: 1em;
    font-weight: 700;
}
.shop-container input[type="text"] {
    color:var(--Dark-300);
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 1.25em;
  }
  input#buscar {
    width: 100%;
  
}
select#OrdenarPor {
    width: 100%;
    margin-bottom: 1.25em;
}
.contadorShop {
    display: flex;
}
.shop-container input[type="text"]#min,
.shop-container input[type="text"]#max {
  width: 20px;
}
.checkboxShop {
    display: flex;
    flex-direction: column;
}
  aside {
    width: 10em;
   margin: 0.6em ;
    border-radius: 0.3em;
    background-color: var(--light-font-solid);
    font-size: 1.5em;
  }

    .shop-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 24px;

    
    }
    
   
@media screen and (max-width: 360px) {
    .shop-products {
        grid-template-columns: 1fr; 
        gap: 16px; 
    }
}


@media screen and (min-width: 361px) and (max-width: 470px) {
    .shop-products {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
    }
}

   
    @media screen and (max-width: 768px) {
        .shop-products {
            grid-template-columns: repeat(2, 1fr); 
        }
    }
    
    @media screen and (max-width: 480px) {
        .shop-products {
            grid-template-columns: 1fr; 
        }
    }
    @media screen and (max-width: 360px) {
        .shop-products {
            grid-template-columns: 1fr; 
            gap: 16px; 
        }
    }
    @media screen and (min-width: 361px) and (max-width: 470px) {
        .shop-products {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px; 
        }
    }
    .shop-parrafo {
        font-size: 0.8em;
        font-weight: 500;
    }
    
    .shop-h4 {
        font-size: 1em;
        font-weight: 700;
    }
    
    .shop-prix {
        font-size: 1em;
        font-weight: 400;
    }
    
    .shop-cuotas {
        font-size: 0.75em;
        font-weight: 700;
        color: var(--Secondary-solid);
    }
  
    .shop-principal {
     
        display: flex;
        flex-direction: column;

    }
    .product-badge{
    background-color:var(--primary-solid);
    color:var(--light-bg-solid) ;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 0.3em; 
    text-align: center;
    height: 1.5em;
    float: right;
    cursor: pointer; 
    margin: 5%;
    }
    
    .pagination {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: var(--spacing-28)var(--spacing-28);
    }

.arrow,
.number-box {
    width:5em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(223, 227, 232, 1);
}

.left-arrow {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: rgba(145, 158, 171, 1);
}

.number-box {
    background:var(--light-bg-solid);
    color: rgba(33, 43, 54, 1); 
}

.right-arrow {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: rgba(145, 158, 171, 1);
}

.dots {
    font-size: 18px;
}

.number-box:first-child {
    background: linear-gradient(0deg,  red , #FF3333), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: #fff;
}


.precio {
    color: var(--Dark-solid);
}

.cuotas {
    font-size: 0.7em;
    font-weight: 700;
    color:var(--Secondary-solid);
}


/*carrito*/

    .carritoContainer1, .carritoContainer2, .carritoContainer3 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
      padding: 10px;
background-color:var(--light-bg-solid);
box-shadow: 0px 0px 10px 0px var(--Dark-solid);
align-items: center;
border-radius: 16px;
margin: 2%;
    }
    .encabezados-carrito, .carritoitem1, .carritoitem2 {
        display: contents;
    }
    img.carritoImg2 {
        width: 200px;
    }
    img.carritoImg1{
        width: 200px;
    }
    span.tituloCarrito{
      font-size: 3em;
      font-family:var(--alternative-font);
      font-weight: 700;
        border:3px solid transparent;
        border-bottom-color: var(--primary-solid);
    align-items: center;
    margin: 15%;

    
    }
    .tituloCarrito {
        padding: var(--spacing-24);
        text-decoration: underline red;
        display: inline;
    }
    h2.headerCarrito1, .headerCarrito2, .headerCarrito3, .headerCarrito4 {
        text-align: center;

        
    }

    table.Total{
        margin-left:auto;
        background-color: #FAFAFF;
        box-shadow: 0px 0px 10px 0px var(--Dark-solid);
        font-family: var(--base-font);
        font-weight: 600;
        border-radius: 16px;
        padding: var(--spacing-24);
        margin-bottom: 20px;
    }
    span.resumen-titulo {
        font-size: 3em;
        font-family:var(--alternative-font);
        font-weight: 700;
        border:3px solid transparent;
        border-bottom-color: var(--primary-solid);
        align-self: flex-end;
        margin: 20px;
    }
    span.ResumenPago{
        font-size: 3em;
        font-family:var(--alternative-font);
        font-weight: 700;
        background-color: var(--primary-solid);
        color: var(--light-font-solid);
       align-self: flex-end;
       cursor: pointer;
       width:36%;
       text-align: center;
      padding: 10px;
      margin-bottom: 20px;
      padding: var(--spacing-24);
   }
    .cantidadCarrito2, .cantidadCarrito1 {
        display: flex; 
        align-items: center;
        justify-self:center ;

    }
    
    .contadorCarrito2, .contadorCarrito1 {
        display: flex; 
        flex-direction: column; 
        width: 0.5rem;
    }
    .carritoitem1, .carritoitem2 {
        margin-top: 20px;
    }
    .plus, .minus {
        background-color:var(--primary-solid); 
        color: var(--light-font-solid); 
        display: inline-block; 
        width: 18px; 
        text-align: center; 
        line-height: 20px; 
        margin: 5px;
        cursor: pointer;
    }
    .number1, .number2  {
        padding: var(--spacing-20);
        border: 0.5px solid #C9C9C9;
        text-align: center;
        background-color: var(--light-font-solid);

       
    }
    .botonEliminar1, .botonEliminar2 {
      margin: 40%;
    }
    .resumenTotal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      
      td.total-texto1 {
  
        border-top: 2px solid red;
      
    }
      td.total-texto2{
        border-top: 2px solid red;
       
      }

      .navbar__cart {
        position: relative;
        display: inline-block; 
    }
    
    .numeroCarrito {
        position: absolute;
        top: -8px; 
        right: -8px;
        background-color: var(--primary-solid); 
        color: var(--light-font-solid); 
        border-radius: 50%; 
        padding: 4px 8px; 
        font-size: 12px; 
    }
    
        .carritoCarrito {
            position: relative;
            display: inline-block;
        }
    
/*admin*/
.tabla-productos {
    overflow-y: auto;
    width: 100%;
}

table.wrapperProduct{
overflow-y: auto;
max-width:100%;

}
button {
  background:var(--light-font-solid);
    border: 1px solid transparent;
    cursor: pointer;

}

thead tr{
font-weight: 500;
text-align: left;
font-size:var(--font-medium)

}
h1.listado {
    padding:10px;
}
input#search-input {
    border-radius: 6px;
    width: 40%;
    padding: inherit;
}  
.search-form{
border-radius: 6px;
border: 2px solid #30343F;
display: flex;
margin-left: var(--spacing-20);
}
  table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: var(--spacing-20);

}
  td {
    display: table-cell;
    vertical-align: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-size:var(--font-medium);
font-weight: 500;
}
img.lupa-productos {
    overflow: clip;
    display:inline-flex;
}
/*login*/

.loginFormulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--spacing-28);
}
input#email {
    border:2px solid transparent;
    border-bottom: 2px var(--primary-solid);
}
input#Contraseña {
    border:2px solid transparent;
    border-bottom: 2px var(--primary-solid);
}
.enlaceLogin {
    color: var(--Secondary-solid);
    cursor: pointer;
    padding: var(--spacing-20);
}

.login-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-contraseña {
    padding: var(--spacing-20);
}
button.login-ingresar {
    padding: var(--spacing-20);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    margin-right: 5%;
    font-size: 1.5em;
    cursor: pointer;
}
label.login--contraseña-texto {
    margin-left: 2%;
}
.login-box {
    display: flex;
}
p.loginText {
    margin-left: 10px;
}
.loginEmail {
    padding:var(--spacing-20)
}
.login-contraseña {
    padding: var(--spacing-20)
}



  /*edit*/
  .categoriaLicencia {
  margin-bottom: 2%;
}

.edit-productos {
margin-bottom: 2%;
   
}
.textarea#descripcion{
    width: 101.206rem;
    margin-bottom: 2%;
 

}
.descuentosEdit {
    display: flex;
   margin-bottom: 2%;
}
.descuentoEdit {
    display: table-column-group;
}
.imagenesEdit {
    display: flex;
    width: 50%;
    padding: var(--spacing-20);
}
.imagenesEdit img {
    border-bottom: 2px solid var(--primary-solid);
    margin-bottom: 10px;
}
.imagen-izquierda p,
.imagen-derecha p {
    text-align: center;
}
.imagen-izquierda {
    margin-right: 10px;
}
.ModificarProductoEdit {
    padding: var(--spacing-20);
    font-size: 1em;
}
input.modificarProducto {
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    border: 2px solid transparent;
    cursor: pointer;
}
/*create*/
input#nombre {
    border: none; 
    border-bottom: 2px solid var(--primary-solid); 
}

select#categoria {
    margin-right: 20px;

}
.productoCreate  {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.textProducto {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.descuentoProducto {
    display: flex;
  
}
input#stock {
    width: 20px;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 2px solid var(--primary-solid);
}
.imagenesCreate {
    display: inline-flex;
    margin-top: 20px;
}
.imagenesCreate {
    display: flex;
}
input#NombreDelProducto {
    border: 1px solid transparent;
    border-bottom: 2px solid var(--primary-solid);

}
select#categoria {
    margin-right: 20px;
}
input#sku {
    width: 90px;
    border: 1px solid transparent;
    border-bottom: 2px solid var(--primary-solid);
    margin-right: 10px;
}
input#precio {
    width: 90px;
    border: 1px solid transparent;
    border-bottom: 2px solid var(--primary-solid);
    margin-right: 10px;
}
input#descuento {
    margin-right: 20px;
    width: 40px;
    border: 1px solid transparent;
    border-bottom: 2px solid var(--primary-solid);
    text-align: center;
}
button#aceptarBoton {
    margin-right: 2em;
     background: var(--primary-solid);
    color: var(--light-font-solid);
    cursor: pointer;
    width: 9em;
   font-size: 2em;
}
button#resetearBoton {
    background: var(--primary-solid);
    color: var(--light-font-solid);
  cursor: pointer;
  width: 9em;
  padding: var(--spacing-16);
  font-size: 2em;

}
.botonEliagre {
   margin-bottom: 20px;
   margin-top: 20px;
}
.listadoAdmin {

    display: flex;
    
}
.agregarAdmin {
    display: block;
}
form#search-form {
    align-items: center;
    display: flex;
    padding: 10px;
}
h1.tituloAdmin {
    margin-right: 20%;
}

/*animation va al final del codigo*/ 
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

