<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/index.css">
    <link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">

    <title>ITEM</title>
    
</head>
<body class="custom-body-class">
    <%- include('../partials/header-item.ejs') %>


        <main class="container">
            <div class="cartItem">
        <picture class="item--img card-item__cover">
                    <img class="card-item__img--front" src="/img/star-wars/baby-yoda-1.webp" alt="Figura Baby Yoda">
                    <img class="card-item__img--back" src="/img/star-wars/baby-yoda-box.webp" alt="Figura Baby Yoda">
                </picture>
                    <article class="item--info">
                        <p class="item--license">STAR WARS</p>
                        <h3 class="item--name">BABY YODA BLUEBALL</h3>
                        <p class="item--description">Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga, Edición limitada</p>
                        <p class="precio">$1799,99</p>
                        
                            <div class="item-cart">
                             <button id="substract" class="item--quantity" type="button">-</button>
                              <input class="item--input" type="text" name="quantity" id="quantity" placeholder="0">
                              <button id="add" class="item--quantity" type="button">+</button>
                              <form action="/shop/carrito" method="post">
                
                                <button class="item--submit btn btn--primary btn--medium" type="submit">Agregar al Carrito</button>
                            </form>
                            
                             </div>
                             <p class="item-promo"><a href="">Ver métodos de pago</a>- 3 CUOTAS SIN INTERÉS</p>    
                </article>
            </section>
        </div>
            <section class="slider container glide" >
                <h2 class="slider__title">PRODUCTOS RELACIONADOS</h2>
                <div class="glide--track" data-glide-el="track">
                <ul class="slider__items  glide--slides">
                    <li class="slider__item glide--slide">
                        <article class="card-item">
                            <a class="card-item__link" href=""></a>
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img class="card-item__link--front" src="/img/star-wars/trooper-1.webp" alt="Figura colleccionable Funko de un Stormtrooper">
                                <img class="card-item__link--back" src="/img/star-wars/trooper-box.webp" alt="Figura colleccionable Funko de un Stormtrooper en caja">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">STAR WARS</p>
                                <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                                <p class="card-item__price">$1799.99. -</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </article>
                    </li>
                    <li class="slider__item glide--slide">
                        <article class="card-item">
                            <a class="card-item__link" href=""></a>
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img class="card-item__link--front" src="/img/pokemon/pidgeotto-1.webp" alt="Figura colleccionable Funko de un Pidgeotto">
                                <img class="card-item__link--back" src="/img/pokemon/pidgeotto-box.webp" alt="Figura colleccionable Funko de un Pidgeotto en caja">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">POKEMON</p>
                                <h4 class="card-item__name">PIDGEOTTO</h4>
                                <p class="card-item__price">$1799.99. -</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </article>
                    </li>
                    <li class="slider__item glide--slide">
                        <article class="card-item">
                            <a class="card-item__link" href=""></a>
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img class="card-item__link--front" src="/img/harry-potter/luna-1.webp" alt="Figura colleccionable Funko de Luna lovegood">
                                <img class="card-item__link--back" src="/img/harry-potter/luna-box.webp" alt="Figura colleccionable Funko de Luna lovegood en caja">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">HARRY POTTER</p>
                                <h4 class="card-item__name">LUNA LOVEGOOD LIONMASK</h4>
                                <p class="card-item__price">$1799.99. -</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="ic:sharp-chevron-left"></iconify-icon>
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="ic:sharp-chevron-right"></iconify-icon>
                    </button>
              </div>
            </section>
        
        </main>
        
 
   <%- include('../partials/footer.ejs') %>
    
       <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

       <script src="/carousel/item.js"></script>
       <script src="/carousel/glide.js"></script>


       
    </body>
    </html>