
<footer class="footer">
    <div class="navbarContainer">
    <nav class="navbar">
        <ul class="navbar__item">
            <li class="navbar__item"><a class="navbar__link" href="shop/shop">SHOP</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/auth/register">REGISTRARSE</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/auth/login">LOGIN</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/contact">CONTACTO</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/auth/logout">LOGOUT</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/about">ABOUT</a></li>
            <li class="navbar__item"><a class="navbar__link" href="/faqs">FAQS</a></li>
            


        </ul>
    </nav>
</div>
       <img src="/img/branding/isotype.svg" alt="Isologotipo de la marca funkoshop" class="pictureFooter">
  
    
    
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>

</footer>