
<footer class="footer">
    <div class="navbarContainer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item"><a class="navbar__link" href="../shop/shop.ejs">SHOP</a></li>
            <li class="navbar__item"><a class="navbar__link" href="../auth/register.ejs">REGISTRARSE</a></li>
            <li class="navbar__item"><a class="navbar__link" href="../auth/login.ejs">LOGIN</a></li>
            <li class="navbar__item"><a class="navbar__link" href="../main/contact.ejs">CONTACTO</a></li>
        </ul>
    </nav>
   
        <img src="/public/img/branding/isotype.svg" alt="Isologotipo de la marca funkoshop" class="pictureFooter">
   
</div>
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>

</footer>