<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item"><a class="navbar__link" href="./shop.html">SHOP</a></li>
            <li class="navbar__item"><a class="navbar__link" href="./register.html">REGISTRARSE</a></li>
            <li class="navbar__item"><a class="navbar__link" href="./login.html">LOGIN</a></li>
            <li class="navbar__item"><a class="navbar__link" href="./contacto.html">CONTACTO</a></li>
        </ul>
    </nav>
    <picture class="picture">
        <img src="/public/img/branding/isotype.svg" alt="Isologotipo de la marca funkoshop">
    </picture>
    
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer>