<header>
    <nav class="navbar">
        <picture class="navbar__logo">
            <a href="../main/home.ejs">
                <img src="/public/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkshop">
            </a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item width-submenu">
                <a class="navbar__link width-icon" href="../shop/shop.ejs">VER TIENDA</a>
               
            </li>
            <li>
                <a class="navbar__link" href="../admin/admin.ejs">ADMIN</a>
            </li>
            <li>
                <a class="navbar__link" href="../auth/logout.ejs">SALIR</a>
            </li>
        </ul>
    </nav>
</header> 