<header> 
    <nav class="navbar">
            <picture class="navbar__logo">
                <a href="/index">
                    <img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkshop">
                </a>
            </picture>
        <ul class="navbar__menu">
            <li class="navbar__item width-submenu">
               
         <a class="navbar__link width-icon" href="shop/shop">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
                <ul class="submenu">

                <li class="submenu-item">
                     <a href="" class="submenu__link">Funkos</a>
                     </li>
                <li class="submenu-item"> 
                    <a href="" class="submenu__link">Remeras</a> 
                </li>
                <li class="submenu-item">
                     <a href="" class="submenu__link">LLaveros</a>
                 </li>
                </ul>
            </li>
            <li>
                <a class="navbar__link" href="/contact">CONTACTO</a>
            </li class="navbar__item">
            <li>
                <a class="navbar__link" href="/auth/login">LOGIN</a>
            </li class="navbar__item>
            <li class="navbar__item">
                <a class="navbar__cart"  href="/shop/carrito">
                    <img src="/img/icons/cart-icon.svg" alt="icono de carrito"> 
                </a>
            </l>

        </ul>
    </nav>
</header> 
