<header>
    <nav class="navbar container">
        <picture class="navbar__logo">
            <a href="/">
                <img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca Funkshop">
            </a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar__item with-submenu">
                <a class="navbar__link" href="/">VER TIENDA</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/admin">ADMIN</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/auth/logout">SALIR</a>
            </li>
        </ul>
    </nav>
</header> <!--fin header-->