<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/index.css">
    <link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">
    <title>EDIT</title>

    
</head>
<body>
    <%- include('../partials/header-tienda.ejs') %>
 


    <main class="container">
        <h1 class="edit-titulo">EDITAR ITEM</h1>
    <form id="figura-form">
        <div class="categoriaLicencia">

            <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria">
            <option value="Figuras">Figuras</option>
            <option value="Edicion Limitada">Edicion Limitada</option>
            <option value="Accesorios">Aceesorios</option>
        </select>
    
        <label for="licencia">Licencia:</label>
        <select id="licencia" name="licencia" >
            <option value="Naruto Shippuden">Naruto Shippuden</option>
            <option value="Star Wars">Star Wars</option>
            <option value="Harry Potter">Harry Potter</option>
        </select>
    </div>
        <div class="edit-productos"> 
        <label for="nombre">Nombre del producto:</label>
     <input type="text" id="nombre" name="nombre" required placeholder="Kakashi Hatake Shippuden Saga">
     
    </div>

        <textarea  id="descripcion" name="descripcion" rows="5" cols="50" placeholder="Figura Funko coleccionable de Kakashi Hatake de la saga Naruto Shipudden invocando chidori." ></textarea>
    <div class="descuentosEdit">
        <div class="sku">
        <label for="sku">SKU:</label>
        <input type="text" id="sku" name="sku" required placeholder="NAR001012">
    </div>
<div class="precio">
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" step="0.01" required placeholder="$ 1.799,00" >
    </div>
<div class="stock">
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required placeholder="10" >
    </div>
</div>
<div class="descuentoEdit">
<div class="edit-descuento">
    <div class="descuento">
        <label for="descuento">Descuento:</label>
        <input type="number" id="descuento" name="descuento" placeholder="10%">
    </div>
    <div class="cuota">
        <label for="cuotas">Cuotas:</label>
        <select id="cuotas" name="cuotas" class="cuotas-producto">
            <option value="3 cuotas">3 Cuotas sin interés</option>
            <option value="6 cuotas">6 Cuotas sin interés</option>
            <option value="9 cuotas">9 Cuotas sin interés</option>
        </select>
    </div>
</div>
</div>
        <label for="imagenes">Imágenes:</label>
        <input type="file" id="imagenes" name="imagenes" accept="image/*" multiple>
<div class="imagenesEdit">
        <div class="imagen-izquierda">
            <img src="/img/icons/kakashi_hatake_front.svg" alt="Imagen frente" class="imagenFrente">
            <p>Frente</p>
          </div>
          <div class="imagen-derecha">
            <img src="/img/icons/kakashi_hatake_back.svg" alt="Imagen dorso" class="imagenDorso">
            <p>Dorso</p>
          </div>
        </div>
        <div class="ModificarProductoEdit">
        <input type="submit" value="Modificar Producto" class="modificarProducto">
    </div>
    </form>
    
      
    </main>
  

    <%- include('../partials/footer.ejs') %>

   <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>
