<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/index.css">
    <link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">
    <title>Sobre Nosotros</title>
</head>
<body>
    <%- include('../partials/header-tienda.ejs') %>

    <main class="container">
        <section>
            <h1>Acerca de nosotros</h1>
            <p>
                Somos una tienda dedicada a ofrecer productos de alta calidad a nuestros clientes. Nos esforzamos por proporcionar una experiencia de compra excepcional y un servicio al cliente sobresaliente.
            </p>
            <p>
                Nuestro equipo está comprometido con la excelencia y la satisfacción del cliente en cada paso del camino. Valoramos la relación con nuestros clientes y nos enorgullecemos de ofrecer productos que cumplan con sus expectativas y necesidades.
            </p>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
