<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/index.css">
    <link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">
    <title>LOGOUT</title>
</head>
<body>
    <%- include('../partials/header-tienda.ejs') %>

    <!--fin header-->
 
<main class="container">
 
    <h1> Esta session se cierra </h1>

</main>

    <!--aca empieza el footer-->
    <%- include('../partials/footer.ejs') %>
   
</body>
</html>